configuration {
	theme: "~/.config/rofi/themes/Dracula.rasi";
	font: "Sauce Code Pro Nerd Font 9";
	modi: "drun,window,run";
	combi-modi: "drun, window";
	show-icons: true;
	drun-display-format: "{name}";
	width: 35;
	columns: 1;
	lines: 12;
	fixed-num-lines: true;
	location: 2;
	yoffset: 49;
	sidebar-mode: true;
	fullscreen: false;
	display-drun: " ";
	display-run: " ";
	display-window: " ";
	

}

